$borderBlue: blue;
$borderYellow: green;

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid $borderBlue;
  border-top: 1px solid $borderBlue;
  cursor: pointer;
}

.caught {
  font-weight: bold;
  color: $borderYellow;
}

.pokemon-table {
  width: 40em;
}

.spinner {
  display: flex;
  align-items: center;
  transform: scale(10);
  position: relative;
  top: 10em;
}
